*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Contenido en el 100% de la pantalla*/
html{
  height: 100%;
}

body{
  font-family:Poppins, serif;
  min-height: 100%;
}

.body > *{
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.body {
  display: grid;
  gap: 10px;
  grid-template:
  "header" 50px
  "nav" 70px
  "main" auto
  "footer" 100px;
}

.navbar iframe{
  width: 100%;
  height: 100%;

  border: 0;
}

.header{
  grid-area: header;
}
.navbar{
  grid-area: nav;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
}

/*Pantalla Tableta*/
@media (min-width: 600px) {

  .body {
    display: grid;
    gap: 10px;
    grid-template:
    "header" 50px
    "nav" 70px
    "main" auto
    "footer" 100px;
  }

}

@media (min-width 900px)) {

  .body {
    display: grid;
    gap: 10px;
    grid-template:
    "header" 50px
    "nav" 70px
    "main" auto
    "footer" 100px;
  }

}
